
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card" style="width: 50rem;">
        <div class="card-header">
          <div class="row">
            <div class="col">
              <h3 style="color: red;">Ansys Snuffleupagus Program</h3>
            </div>
            <div class="col">
              <button class="btn btn-link collapsed float-end" data-toggle="collapse" data-target="#collapse-L1"
                      aria-expanded="true" aria-controls="collapse1">
                <i class="fa fa-plus-square" style="font-size:18px;color:black"></i></button>
            </div>
          </div>
        </div>
        <div id="collapse-L1">
          <div class="card-body">
            <h5>So, You want to be in the Snuffleupagus Program?</h5>
            <p>
              <img src="assets/snuffle.png">
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
